.Rproj.user
.Rhistory
.RData
.Ruserdata
overall.cx


# Ignore everything in output/
microbetag_analysis/mgg_prec/reconstructions/*

# Allow .tar.gz files in output/
!microbetag_analysis/mgg_prec/reconstructions//*.tar.gz


my_bins/


