.Rproj.user
.Rhistory
.RData
.Ruserdata

__pycache__/

# Ignore everything in output/
microbetag_analysis/mgg_prec/reconstructions/*

# Allow .tar.gz files in output/
!microbetag_analysis/mgg_prec/reconstructions//*.tar.gz


my_bins/
depr/
GENREs/
*.fna

